/* CSS declarations go here */
input#message{
	 width: 90%; 
	 margin-top:10px;
}

#messages {
	background-color: #ffffff; 
	border: 1px solid darkgray;
	height: 200px;
	overflow: scroll;
	width: 95%;
	
}
span{
	font-size: 0.7em;
	color: darkgray;
}
.selected{
	background-color: yellow;
}


